{% extends '::base.html.twig' %}

{% block title %}Estado de Solicitud{% endblock %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('root') }}">Inicio</a></li>
        <li><a href="{{ path('estadossolicitudfichasocial') }}">Estados de solicitud</a></li>
        <li class="active">Nuevo Estado de Solicitud</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading nopadding">
            <h1>Nuevo Estado de Solicitud</h1>
        </div>
        <div class="panel-body">
        {{ form(form) }}
        </div>
    </div>
{% endblock %}
