{% extends '::base.html.twig' %}

{% block title %}Perfil de Usuario{% endblock %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('root') }}">Inicio</a></li>
        <li><a href="{{ path('perfil') }}">Perfil de Usuario</a></li>
        <li class="active">Cambiar Password</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading nopadding">
            <h1>Cambiar Password</h1>
        </div>
        <div class="panel-body">
        {{ form(password_form) }}
        </div>
    </div>
{% endblock %}
