{% extends '::base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('root') }}">Inicio</a></li>
        <li><a href="{{ path('usuarios') }}">Usuario</a></li>
        <li class="active">Nuevo Usuario</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading nopadding">
            <h1>Nuevo Usuario</h1>
        </div>
        <div class="panel-body">
        {{ form(form) }}
        </div>
    </div>
{% endblock %}
