{% extends '::base.html.twig' %}

{% block title %}Tipo de Solicitud{% endblock %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('root') }}">Inicio</a></li>
        <li><a href="{{ path('tipossolicitudfichasocial') }}">Tipo de Solicitud</a></li>
        <li class="active">Nuevo Tipo de Solicitud</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading nopadding">
            <h1>Nuevo Tipo de Solicitud</h1>
        </div>
        <div class="panel-body">
        {{ form(form) }}
        </div>
    </div>
{% endblock %}
