{% extends '::base.html.twig' %}

{% block title %}Propiedades{% endblock %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('root') }}">Inicio</a></li>
        <li><a href="{{ path('propiedades') }}">Propiedades</a></li>
        <li class="active">Nueva Propiedad</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading nopadding">
            <h1>Nueva Propiedad</h1>
        </div>
        <div class="panel-body">
        {{ form(form) }}
        </div>
    </div>
{% endblock %}
